.header {
  text-align: center;
  border-bottom: 1px solid;
  position: fixed; 
  top: 0; 
  width: 100%;
  background-color:rgb(245,245,245);
}

.objective {
  font-style: italic;
  font-size: 18px;
  margin-top: 150px;
  margin-left: 10%;
  margin-right: 10%;
}

.education {
  text-align: center;
}

body {
  margin-left: 5%;
  margin-right: 5%;
  background-color: rgb(245,245,245);
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-transform: uppercase;
  line-height: 0;
  font-size: 65px;
}

h2 {
  border-style: solid;
  border-width: 1px;
  margin-top: 50px;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

h3 {
  line-height: 0px;
  margin-top: 50px;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
}

.experience h4 {
  margin-bottom: 0px;
  font-style: oblique;
  font-weight: normal;
  text-align: center;
}

.header h4 {
  font-weight: normal;
}

li {
  margin-bottom: 5px;
  margin-left: 10%;
}
